<div class="card" data-new-trade-form>
  <h2 class="card__title">New Trade</h2>
            <div class="card__underline" aria-hidden="true"></div>
  <input type="radio" id="bond" name="trade_type" value="bond" checked />
  <label for="bond">Bond</label>

  <input type="radio" id="cds" name="trade_type" value="cds" />
  <label for="cds">CDS</label>

  <input type="radio" id="futures" name="trade_type" value="futures" />
  <label for="futures">Futures</label>

  <input type="radio" id="fx" name="trade_type" value="fx" />
  <label for="fx">Fx</label>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" id="trade_type" name="trade_type" value="bond">
    {% for field in form %}
    <div class="form-group" data-field="{{ field.name }}">
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
      {{ field }} {% if field.errors %}
      <div class="error">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <button class="button" type="submit" name="action" value="add_trade">Submit</button>
  </form>
</div>
