<div class="card">
<h2 id="trade-blotter">Trade Blotter</h2>
      {% if potential_trades.paginator.num_pages > 1 %}
    <div class="pagination">
    <span class="step-links">
        {% if potential_trades.has_previous %}
            <a href="?page=1#trade-blotter">&laquo; first</a>
            <a href="?page={{ potential_trades.previous_page_number }}#trade-blotter">previous</a>
        {% endif %}

        <span class="current">
            Page {{ potential_trades.number }} of {{ potential_trades.paginator.num_pages }}.
        </span>

        {% if potential_trades.has_next %}
            <a href="?page={{ potential_trades.next_page_number }}#trade-blotter">next</a>
            <a href="?page={{ potential_trades.paginator.num_pages }}#trade-blotter">last &raquo;</a>
        {% endif %}
    </span>
</div>
  {% endif %}

<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Trade ID</th>
            <th>Trade Date</th>
            <th>Security ID</th>
            <th>Username</th>
            <th>Comment</th>
            <th>Strategy</th>
            <th>Strategy ID</th>
            <th>Instrument Type</th>
            <th>Price</th>
            <th>Spread</th>
            <th>Notional</th>
            <th>Direction</th>
            <th>No of Contracts</th>
        </tr>
    </thead>
    <tbody>
        {% for trade in potential_trades %}
        <tr>
          <td><a href="{% url 'potential_trade_edit' pk=trade.trade_id %}">✏️</a>
<a href="{% url 'potential_trade_delete' pk=trade.trade_id %}">❌</a>
          </td>
            <td>{{ trade.trade_id }}</td>
            <td>{{ trade.trade_date|date:"Y/m/d" }}</td>
            <td>{{ trade.security_id }}</td>
            <td>{{ trade.username }}</td>
            <td>{{ trade.comment }}</td>
            <td>{{ trade.strategy }}</td>
            <td>{{ trade.strategy_id }}</td>
            <td>{{ trade.instrument_type }}</td>
            <td>{{ trade.price|default_if_none:"" }}</td>
            <td>{{ trade.spread|default_if_none:"" }}</td>
            <td>{{ trade.notional|default_if_none:"" }}</td>
            <td>{{ trade.direction|default_if_none:"" }}</td>
            <td>{{ trade.no_of_contracts|default_if_none:"" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="14">Trades you initiate will appear here.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="finalise_trades">Upload Trades</button>
</form>

</div>
