{% extends 'base.html' %} {% block content %}
<h2>Hello World</h2>
<input type="radio" id="bond" name="trade_type" value="bond"
{% if type == "bond" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='bond' days_ago=days_ago %}`; return false;"

/>
<label for="bond">Bond</label>

<input type="radio" id="cds" name="trade_type" value="cds" 
{% if type == "cds" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='cds' days_ago=days_ago %}`; return false;"
/>
<label for="cds">CDS</label>

<input type="radio" id="futures" name="trade_type" value="futures" 
{% if type == "futures" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='futures' days_ago=days_ago  %}`; return false;"
/>
<label for="futures">Futures</label>

<input type="radio" id="fx" name="trade_type" value="fx"
{% if type == "fx" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='fx' days_ago=days_ago  %}`; return false;"
/>
<label for="fx">Fx</label>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.errors %}
                <div class="error">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" name="action" value="add_trade">Submit</button>
</form>

<h1>Potential Trades</h1>
<table>
    <thead>
        <tr>
            <th>Trade ID</th>
            <th>Trade Date</th>
            <th>Security ID</th>
            <th>Username</th>
            <th>Comment</th>
            <th>Strategy</th>
            <th>Strategy ID</th>
            <th>Instrument Type</th>
            <th>Price</th>
            <th>Spread</th>
            <th>Notional</th>
            <th>Direction</th>
            <th>No of Contracts</th>
        </tr>
    </thead>
    <tbody>
        {% for trade in potential_trades %}
        <tr>
            <td>{{ trade.trade_id }}</td>
            <td>{{ trade.trade_date }}</td>
            <td>{{ trade.security_id }}</td>
            <td>{{ trade.username }}</td>
            <td>{{ trade.comment }}</td>
            <td>{{ trade.strategy }}</td>
            <td>{{ trade.strategy_id }}</td>
            <td>{{ trade.instrument_type }}</td>
            <td>{{ trade.price }}</td>
            <td>{{ trade.spread }}</td>
            <td>{{ trade.notional }}</td>
            <td>{{ trade.direction }}</td>
            <td>{{ trade.no_of_contracts }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="13">No potential trades available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="finalise_trades">Finalise Trades</button>
</form>
<div id="graph">
  <label for="days_ago">How long ago to view?</label>


  <select name="days_ago" id="days_ago_selector" onchange="redirectToPage()">



    <option value="{% url 'trade_view' type=type days_ago=1 %}" {% if days_ago == 1 %} selected {% endif %}>1 Day</option>
    <option value="{% url 'trade_view' type=type days_ago=7 %}" {% if days_ago == 7 %} selected {% endif %}>7 Days</option>
    <option value="{% url 'trade_view' type=type days_ago=10 %}" {% if days_ago == 10 %} selected {% endif %}>10 Days</option>
    <option value="{% url 'trade_view' type=type days_ago=28 %}" {% if days_ago == 28 %} selected {% endif %}>28 Days</option>
    <option value="{% url 'trade_view' type=type days_ago=100 %}" {% if days_ago == 100 %} selected {% endif %}>100 Days</option>
    <option value="{% url 'trade_view' type=type days_ago=365 %}" {% if days_ago == 365 %} selected {% endif %}>1 Year</option>
    <option value="{% url 'trade_view' type=type days_ago=730 %}" {% if days_ago == 730 %} selected {% endif %}>2 Years</option>
    <option value="{% url 'trade_view' type=type days_ago=1826 %}" {% if days_ago == 1826 %} selected {% endif %}>5 Years</option>

  </select>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    function redirectToPage() {
        console.log("happens")
        var selectedValue = document.getElementById("days_ago_selector").value;
        window.location.href = selectedValue + ("#graph")
    }
    const tradeData = JSON.parse('{{ trade_counts_json|safe }}');
    console.log(tradeData)
    const labels = tradeData.map(trade => trade.instrument_type);
    const data = tradeData.map(trade => trade.count);
    console.log(data)

    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Trades',
                data: data,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock content %}
