{% include 'base.html' %} {% block content %}
<h2>Hello World</h2>
<input type="radio" id="bond" name="trade_type" value="bond"
{% if type == "bond" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='bond' %}`; return false;"

/>
<label for="bond">Bond</label><br />

<input type="radio" id="cds" name="trade_type" value="cds" 
{% if type == "cds" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='cds' %}`; return false;"
/>
<label for="cds">CDS</label><br />

<input type="radio" id="futures" name="trade_type" value="futures" 
{% if type == "futures" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='futures' %}`; return false;"
/>
<label for="futures">Futures</label><br />

<input type="radio" id="fx" name="trade_type" value="fx"
{% if type == "fx" %}
checked
{% endif %}
onclick="javascript:window.location.href=`{% url 'trade_view' type='fx' %}`; return false;"
/>
<label for="fx">Fx</label><br />

{{ form.as_p }} {% endblock content %}
